<h2>About Puzzle Cards</h2>

<section class="text-col">
    <p>
        Puzzle card layouts were inspired by a design by
        <a href="https://www.instagram.com/hugosometimeswearinghats">Hugo Bush</a>,
        who started creating puzzles for his family during the Coronavirus
        pandemic of 2020 and distributing them via facebook images.
    </p>

    <h3>Why these particular puzzles? Can I replace one?</h3>
    <p>
        Hugo's initial set seems good for now. Maybe you will be able to pick your
        own in the future if it's requested a lot.
    </p>

    <h3>Why do they expire?</h3>
    <p>
        Puzzles expire automatically a week after they were last visited. I don't
        want to store everyone's puzzles forever; this seems like a good
        compromise to make sure you can share your creations with your friends
        before they disappear.
    </p>

    <h3>I've spotted a problem, how do I get in touch?</h3>
    <p>
        Bugs and suggestions can be sent to
            <a href="mailto:puzzlecards@ryft.uk">puzzlecards@ryft.uk</a>.
        I can't guarantee I'll respond to every email.
    </p>
    <p>
        For abuse reports, 
            <a href="mailto:abuse@ryft.uk">abuse@ryft.uk</a>.
    </p>

    <h3>Where can I find the web app source code?</h3>
    <p>
        The <a href="https://puzzlecards.app">puzzlecards.app</a> source can be
        found at <a href="https://gitlab.com/ryft/puzzle-cards">gitlab.com/ryft/puzzle-cards</a>.
    </p>
    <p>
        Puzzle Cards is &copy; <a href="https://jnicholls.uk">James Nicholls</a>
        2020, licenced under the <a href="https://mit-license.org/">MIT Licence</a>.
    </p>
</section>
