<script>
    export let page, puzzle_id, puzzle_pw;
    let puzzle;

    import Featured from './Featured.svelte';
    import Create from './Create.svelte';
    import Puzzle from './Puzzle.svelte';
    import About from './About.svelte';

    function handleNav(event) {
        // Avoid new requests when navigating
        if (event.type === 'click') {
            page = event.target.id;
            puzzle_id = null;
            puzzle_pw = null;
            puzzle = null;

        } else if (event.detail) {
            page = event.detail.page;
            puzzle_id = event.detail.puzzle_id;
            puzzle_pw = event.detail.puzzle_pw;
            puzzle = event.detail.puzzle;

        } else {
            throw new Error('Failed to navigate via event');
        }

        // Generate new URL; anchor href is just for browser niceness
        let url = new URL('?' + page, window.location.origin);
        if (puzzle_id) {
            url.searchParams.append('id', puzzle_id);
            if (page === 'edit' && puzzle_pw) {
                url.searchParams.append('pw', puzzle_pw);
            }
        }
        if (url.href !== window.location.href) {
            window.history.pushState({}, '', url.href);
        }
    }
</script>

<style type="text/scss">
    .header {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 a {
            color: #333;
        }
        h1 a:hover {
            text-decoration: none;
        }
    }

    .content {
        text-align: center;
    }
</style>

<div class="header">
    <h1>
        <a href="/">Puzzle Cards</a>
    </h1>

    <nav>
        <a on:click|preventDefault={handleNav} id="featured" href="?featured">Featured Puzzles</a>
        &nbsp;|&nbsp;
        <a on:click|preventDefault={handleNav} id="create" href="?create">Create Puzzle</a>
        &nbsp;|&nbsp;
        <a on:click|preventDefault={handleNav} id="puzzle" href="?puzzle">Load Puzzle</a>
        &nbsp;|&nbsp;
        <a on:click|preventDefault={handleNav} id="about" href="?about">About</a>
    </nav>
</div>

<div class="content">
    {#if page === 'featured'}
        <Featured/>
    {:else if page === 'create'}
        <Create on:navigate={handleNav}/>
    {:else if page === 'edit' || page === 'puzzle'}
        <Puzzle on:navigate={handleNav} {puzzle_id} {puzzle_pw} {puzzle} editing={page === 'edit'}/>
    {:else if page === 'about'}
        <About/>
    {/if}
</div>
