<script>
    import Card from './Card.svelte';
</script>

<h2>Create Puzzle</h2>

<Card on:navigate editing={true}/>

<p>
    Saved puzzles are stored for 7 days. The 7 day expiration is reset every
    time the puzzle is visited.
</p>

<section class="text-col">
    <h3>Puzzle writing advice:</h3>
    <p>
        For help with anagrams, try using the
        <a href="https://incoherency.co.uk/anagram" target="_blank" rel="noreferrer">
        Anagram Deputy</a>.
    </p>
    <p>
        Missing Vowels clues don't need to have the spaces in the right place
        (or any at all!) if that would make it too easy.
    </p>
    <p>
        Wide images work best, aim for width = 2 x height. Try uploading your own at
        <a href="https://postimages.org/" target="_blank" rel="noreferrer">PostImages.org</a>
        &mdash; paste the resulting "Direct Link" into the Image URL box above.
    </p>
</section>
