<script>
    import Card from './Card.svelte';

    async function getPuzzles() {
        const res = await fetch('/api/featured');
        const json = await res.json();

        if (res.ok) {
            return json;
        } else {
            throw new Error('Couldn\'t get puzzles: ' + res.statusText);
        }
    }

    let puzzles_promise = getPuzzles();
</script>

<style>
    hr {
        border: 0;
        height: 1px;
        margin: 20px auto;
        background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0)
        );
    }
</style>

<h2>Featured Puzzles</h2>

{#await puzzles_promise}
    <span>Loading puzzles&hellip;</span>
{:then puzzles}
    {#each puzzles as puzzle, i}
        <Card {puzzle}/>
        {#if i < puzzles.length - 1}
            <hr>
        {/if}
    {/each}
{:catch error}
    <span>Couldn't load puzzles :(</span>
{/await}

<p>
    More coming soon! In the meantime, try
    <a href="?create">creating your own</a>.
</p>
