<script>
    import { createEventDispatcher } from 'svelte';
    const dispatch = createEventDispatcher();

    export let puzzle_id, puzzle_pw, puzzle, editing;
    let puzzle_error = '';

    import Card from './Card.svelte';

    function handleLoad(event) {
        puzzle_id = event.target.elements['puzzle_id'].value;
        getPuzzle();
    }

    async function getPuzzle() {
        if (puzzle) {
            return puzzle;
        } else if (!puzzle_id) {
            throw new Error('No puzzle ID provided');
        }

        puzzle_error = '';
        let api_url = new URL('/api/get/' + puzzle_id, window.location.origin);
        if (puzzle_pw) {
            api_url.searchParams.append('pw', puzzle_pw);
        }
        const res = await fetch(api_url.href);

        if (res.ok) {
            dispatch('navigate', {
                page: editing ? 'edit' : 'puzzle',
                puzzle_id: puzzle_id,
                puzzle_pw: puzzle_pw,
                puzzle: await res.json(),
            });
        } else {
            puzzle_id = null;
            puzzle_error = res.status + ' ' + res.statusText;
        }
    }
    if (puzzle_id) {
        getPuzzle();
    }
</script>

<style>
    label {
        display: inline;
    }

    .message {
        margin-bottom: 1rem;
    }
</style>

{#if puzzle}
    <Card on:navigate {puzzle} {puzzle_id} {puzzle_pw} {editing}/>
{:else if puzzle_id}
    <span>Loading puzzle&hellip;</span>
{:else}
    <form on:submit|preventDefault={handleLoad}>
        <input type="text" name="puzzle_id" required
            placeholder="Please enter a puzzle ID&hellip;">
        <input type="submit" value="Load">
    </form>
    {#if puzzle_error}
        <div class="message">
            Couldn't load puzzle :(
            <pre>{puzzle_error}</pre>
        </div>
    {/if}
{/if}
